In [1]:
import numpy as np
#importar numpy para calculo num√©rico

In [6]:
from sympy import *
#importar sympy para calculo simbolico

In [1]:
from tkinter import *

root = Tk()

entry = []

def command(entry):
    output = []
    for i in range(len(entry)):
        output.append(entry[i].get())
    print(output)

for i in range(10):
    entry.append(Entry(root))
    entry[i].pack()

Button(root, text="Ok", command=lambda:command(entry)).pack()

root.mainloop()

['1.2\t2.\t3.7', '', '', '', '', '', '', '', '', '']

In [2]:
import pandas as pd

In [8]:
a=pd.read_clipboard(header=None)

In [9]:
type(a)

pandas.core.frame.DataFrame

In [10]:
a

     0    1    2  3
0  1.5  4.5  7.2  2